/**
* Stargate REST API reference
* The Stargate REST API provides CRUD operations on table data managed by Stargate. Keep in mind that you will need information for the server ({databaseId} and {region}) for all of these operations.
*
* The version of the OpenAPI document: 2.0.0
* 
*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package com.datastax.astra.stargate_v2.apis

import com.datastax.astra.stargate_v2.models.AuthTokenResponse
import com.datastax.astra.stargate_v2.models.Credentials
import com.datastax.astra.stargate_v2.models.Error

import com.datastax.astra.stargate_v2.infrastructure.ApiClient
import com.datastax.astra.stargate_v2.infrastructure.ClientException
import com.datastax.astra.stargate_v2.infrastructure.ClientError
import com.datastax.astra.stargate_v2.infrastructure.ServerException
import com.datastax.astra.stargate_v2.infrastructure.ServerError
import com.datastax.astra.stargate_v2.infrastructure.MultiValueMap
import com.datastax.astra.stargate_v2.infrastructure.RequestConfig
import com.datastax.astra.stargate_v2.infrastructure.RequestMethod
import com.datastax.astra.stargate_v2.infrastructure.ResponseType
import com.datastax.astra.stargate_v2.infrastructure.Success
import com.datastax.astra.stargate_v2.infrastructure.toMultiValue

class AuthApi(basePath: kotlin.String = defaultBasePath) : ApiClient(basePath) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty("com.datastax.astra.stargate_v2.baseUrl", "https://-.apps.astra.datastax.com")
        }
    }

    /**
    * Create an authorization token
    * To create an authorization token, you&#39;ll need the {databaseid} and {region} for your server, in addition to the path parameters. This applies only if you are using a classic database that was created before 4 March 2021 that has not migrated to the newest authentication.
    * @param credentials  
    * @return AuthTokenResponse
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createToken(credentials: Credentials) : AuthTokenResponse {
        val localVariableConfig = createTokenRequestConfig(credentials = credentials)

        val localVarResponse = request<AuthTokenResponse>(
            localVariableConfig
        )

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AuthTokenResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * To obtain the request config of the operation createToken
    *
    * @param credentials  
    * @return RequestConfig
    */
    fun createTokenRequestConfig(credentials: Credentials) : RequestConfig {
        val localVariableBody: kotlin.Any? = credentials
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        val localVariableConfig = RequestConfig(
            method = RequestMethod.POST,
            path = "/api/rest/v1/auth",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )

        return localVariableConfig
    }

}
